.container{
    max-width: 2020px;
    height: auto;
    margin-left: 200px;
    margin-right: 200px;
}
.flex-info{
	display:flex;
	margin-top:50px;
}
.photo{
	width:50%
}
.photo img{
	width:100%
}
.cont{
	width:50%;
	padding-top:50px;
	padding-left:50px;
}
.cont h3{
    font-weight: 700;
    font-size: 22px;
    font-family: "Krub", sans-serif;
	padding-bottom:25px;
}
.cont p{
	font-size:16px;
	padding-bottom: 15px;
}
.cont ul{
	padding-left:1px;
}
.cont ul li{
	line-height:2;
	font-size:14px;
}
.cont ul li i{
	color:blue;
	padding-right:8px;
}
.info-2{
	margin-bottom:60px;
}
